{{ 'featured-logos.css' | asset_url | stylesheet_tag }}

<div class="featured-logos-section">
  <h2 class="featured-logos-section__title">{{ section.settings.title }}</h2>
  <div class="featured-logos">
    <div class="featured-logos__item">
      <img src="{{ 'icon-loreal.svg' | asset_url }}" alt="{{ section.settings.logo1_alt }}" width="179" height="59" />
      <p class="featured-logos__text">{{ section.settings.logo1_text }}</p>
    </div>
    <div class="featured-logos__item">
      <img src="{{ 'icon-hairStudio.svg' | asset_url }}" alt="{{ section.settings.logo2_alt }}" width="161" height="58" />
      <p class="featured-logos__text">{{ section.settings.logo2_text }}</p>
    </div>
    <div class="featured-logos__item">
      <img src="{{ 'icon-prenatal.svg' | asset_url }}" alt="{{ section.settings.logo3_alt }}" width="163" height="59" />
      <p class="featured-logos__text">{{ section.settings.logo3_text }}</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured Logos",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Featured by MammaGlow"
    },
    {
      "type": "text",
      "id": "logo1_alt",
      "label": "Alt text for Logo 1",
      "default": "Logo Loreal"
    },
    {
      "type": "textarea",
      "id": "logo1_text",
      "label": "Text below Logo 1",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    },
    {
      "type": "text",
      "id": "logo2_alt",
      "label": "Alt text for Logo 2",
      "default": "Logo Hair Studio"
    },
    {
      "type": "textarea",
      "id": "logo2_text",
      "label": "Text below Logo 2",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    },
    {
      "type": "text",
      "id": "logo3_alt",
      "label": "Alt text for Logo 3",
      "default": "Logo Prenatal"
    },
    {
      "type": "textarea",
      "id": "logo3_text",
      "label": "Text below Logo 3",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    }
  ],
  "presets": [
    {
      "name": "Featured Logos",
      "category": "Logos"
    }
  ]
}
{% endschema %}
